.videlenie{
    color:#a69595;
    padding-top: 10px;
    font-size: 15px;
}
.last{
    color:#a69595;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
}
.img{
    float: right;
    margin-top: 0px;
}
.center1{
    margin: 0 auto;
}