.shrift{
    font-weight: lighter;
    color:#a69595;
}
.ots{
    color:#a69595;
    padding-top: 15px;
}
.img{
    float: right;
    margin-top: 0px;
}
figure {
    text-align: center;
    margin-top: -25px;
  }

.right{
    float: right;
    margin-top: -43px;
}