.videlenie{
    color:#a69595;
    padding-top: 10px;
    font-size: 15px;
}
.last{
    color:#a69595;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
}
figure {
    text-align: center;
    margin-top: -25px;
  }

.right{
    float: right;
    margin-top: -43px;
}